@using Microsoft.AspNetCore.Components.Web
@using Soenneker.Quark.Buttons
@inherits Soenneker.Quark.Components.Element

<Button @attributes="BuildAttributes()" @onclick:stopPropagation="true">
    @ChildContent
</Button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();
        
        const string baseClasses = "btn-close";
        attributes["class"] = AppendToClass(attributes.GetValueOrDefault("class")?.ToString(), baseClasses);
        attributes["type"] = "button";
        attributes["aria-label"] = "Close";
        
        return attributes;
    }

}
